###############################################################################
# Build Artifacts
###############################################################################
artifacts/
*.binlog

###############################################################################
# Default Artifacts
###############################################################################
bin/
obj/

###############################################################################
# Visual Studio
###############################################################################
.vs/
*.csproj.user
