###############################################################################
# Build Artifacts
###############################################################################
artifacts/
*.binlog
*.dll
*.dylib
*.nupkg
*.so

###############################################################################
# Default Artifacts
###############################################################################
bin/
obj/

###############################################################################
# Visual Studio
###############################################################################
.vs/
*.csproj.user
